<template>
  <div id="main">
    <MusicCard v-if="currentSong != null" :music="currentSong"  @nextsong="nextSong" @previoussong="previousSong"></MusicCard>
    <v-progress-circular v-else indeterminate color="white"></v-progress-circular>
  </div>
</template>

<script>
import MusicCard from "@/components/MusicCard";
import musics from '../../public/musics.json';

export default {
  name: "MusicPlayer",
  components: {MusicCard},
  data: function () {
    return {
      musics: null,
      currentSong: null,
    }
  },
  methods: {
    nextSong() {
      let currentSongIndex = this.musics.indexOf(this.currentSong)

      if (currentSongIndex >= this.musics.length-1) currentSongIndex = 0
      else currentSongIndex++

      this.currentSong = this.musics[currentSongIndex]
      this.updateBgImg()
    },
    previousSong() {
      let currentSongIndex = this.musics.indexOf(this.currentSong)

      if (currentSongIndex === 0) currentSongIndex = this.musics.length -1
      else currentSongIndex--

      this.currentSong = this.musics[currentSongIndex]
      this.updateBgImg()
    },
    updateBgImg() {
      this.$emit('bkgr-img', this.currentSong.image)
    }
  },
  computed: {

  },
  created() {
      this.musics = musics;
      this.currentSong = this.musics[0];
      this.updateBgImg()
  }
}
</script>

<style scoped>

</style>