<template>
  <v-card-text class="pa-0">
    <v-row
        align="center"
        class="mx-0"
    >
      <v-col cols="3">
        <v-btn icon color="grey" large v-if="!playing" @click="startMusic">
          <v-icon>mdi-play</v-icon>
        </v-btn>
        <v-btn icon color="grey" large v-if="playing" @click="stopMusic">
          <v-icon>mdi-pause</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="6" align="left">
        <div class="grey--text">
          {{ music.title }}
          <span class="font-weight-bold">{{ music.artist }}</span>
        </div>
      </v-col>
      <v-col cols="3">
        <v-btn icon color="grey" x-small @click="nextSong">
          <v-icon>mdi-skip-forward</v-icon>
        </v-btn>
        <v-btn icon color="grey" x-small @click="previousSong">
          <v-icon>mdi-skip-backward</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row class="py-0 mx-0">
      <v-slider v-model="currentTimeProgressBar" @change="changeTime" hide-details color="grey darken-3"
                track-color="grey darken-3"></v-slider>
    </v-row>
    <v-row class="mx-0">
      <v-col cols="6" class="py-0">
        <div class="grey--text caption">{{ this.getReadableTime(playingMusicObj.currentTime) }}</div>
      </v-col>
      <v-col cols="6" class="py-0">
        <div class="grey--text caption" align="right">{{ this.getReadableTime(playingMusicObj.duration) }}</div>
      </v-col>
    </v-row>

    <v-row class="py-0 mx-0">
      <v-col cols="8" class="mx-auto">
        <v-row>
          <v-icon v-if="currentVolume === 0">mdi-volume-low</v-icon>
          <v-icon v-else-if="currentVolume > 0 && currentVolume < 50">mdi-volume-medium</v-icon>
          <v-icon v-else>mdi-volume-high</v-icon>
          <v-slider v-model="currentVolume" hide-details color="grey darken-3"
                    track-color="grey darken-3" min="0" max="100"></v-slider>
<!--          <v-icon>mdi-volume-high</v-icon>-->
        </v-row>
      </v-col>
    </v-row>
    <!--    <v-btn icon color="grey" x-small @click="debug">-->
    <!--      <v-icon>mdi-skip-backward</v-icon>-->
    <!--    </v-btn>-->
  </v-card-text>
</template>

<script>
var Shake = require('shake.js')
export default {
  name: "MusicCardControls",
  data: function () {
    return {
      playing: false, // Musique actuelle en cours de lecture
      playingMusicObj: null, // Objet Audio
      autoPlay: false, // Permet en changeant de musique, de la lire automatiquement ou non
      currentTimeProgressBar: 0,
      currentVolume: 50,
      shakeEvent: null,
    }
  },
  props: {
    music: Object
  },
  methods: {
    debug() {
      console.log(this.getReadableTime(this.playingMusicObj.duration))
      console.log(this.getReadableTime(154))
    },
    initMusic() {
      if (this.playingMusicObj == null) {
        this.playingMusicObj = new Audio(require("../../public/static/musics/" + this.music.url))

        const self = this;
        // Passer à la musique suivante après 3s de délai
        this.playingMusicObj.onended = function () {
          setTimeout(function () {
            self.nextSong()
          }, 3000);
        }

        this.currentTimeProgressBar = 0
        this.playingMusicObj.ontimeupdate = function () {
          self.currentTimeProgressBar = (self.playingMusicObj.currentTime / self.playingMusicObj.duration * 100)
        }

        this.playingMusicObj.volume = this.currentVolume / 100
      }
    },
    initShakeEvent() {
      this.shakeEvent = new Shake({
        threshold: 15,
        timeout: 1000,
      })
      console.log('Shake initialized')
      this.shakeEvent.start()

      window.addEventListener('shake', function () {
        this.nextSong()
      }, false)
    },
    changeTime(time) {
      this.playingMusicObj.currentTime = time * this.playingMusicObj.duration / 100
    },
    startMusic() {
      if (this.autoPlay) this.playing = true
      else this.togglePlayMusic()
      this.playingMusicObj.play()
    },
    stopMusic() {
      this.togglePlayMusic()
      this.playingMusicObj.pause()
    },
    togglePlayMusic() {
      this.playing = !this.playing;
    },
    nextSong() {
      if (this.playing) this.autoPlay = true;
      if (!this.playing) this.autoPlay = false;
      this.playingMusicObj.pause()
      this.playingMusicObj = null
      navigator.vibrate([500])
      this.$emit('nextsong')
    },
    previousSong() {
      if (this.playing) this.autoPlay = true;
      if (!this.playing) this.autoPlay = false;
      this.playingMusicObj.pause()
      this.playingMusicObj = null
      this.$emit('previoussong')
    },
    getReadableTime(time) {
      if (isNaN(time)) return '--:--'
      const mins = Math.floor(time / 60);
      const secs = Math.floor(time % 60);

      if (secs < 10) return mins + ":0" + secs
      else return mins + ":" + secs
    }
  },
  computed: {},
  created() {
    this.initMusic()
    this.initShakeEvent()
  },
  watch: {
    music: {
      handler() {
        this.initMusic()
        if (this.autoPlay) this.startMusic()
      }
    },
    currentVolume: {
      handler: function () {
        this.playingMusicObj.volume = this.currentVolume / 100
      }
    },
  }
}
</script>

<style scoped>

</style>