<template>
  <v-card class="mx-auto my-8" max-width="250" v-if="music != null">
    <v-img max-height="250" max-width="250" :src="'/static/img/covers/' + music.image"></v-img>
    <MusicCardControls :music="music" @nextsong="nextSong" @previoussong="previousSong"></MusicCardControls>
  </v-card>
</template>

<script>
import MusicCardControls from "@/components/MusicCardControls";
export default {
  name: "MusicCard",
  components: {MusicCardControls},
  props: {
    music: null,
  },
  methods: {
    nextSong() {
      this.$emit('nextsong')
    },
    previousSong() {
      this.$emit('previoussong')
    }
  }
}
</script>

<style scoped>

</style>