<template>
  <div>
    <v-row class="py-0 mx-0">
      <v-slider v-model="currentTimeProgressBar" @change="changeTime" hide-details></v-slider>
    </v-row>
    <v-row class="mx-0">
      <v-col cols="6" class="pt-0">
        <div class="grey--text caption">{{ getReadableTime(music.currentTime) }}</div>
      </v-col>
      <v-col cols="6" class="pt-0">
        <div class="grey--text caption" align="right">{{ getReadableTime(music.duration) }}</div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "TimeSlider",
  data: function () {
    return {
      currentTimeProgressBar: 0,
    }
  },
  props: {
    music: Audio
  },
  methods: {
    changeTime(time) {
      this.music.currentTime = time * this.music.duration / 100
    },
    getReadableTime(time) {
      if (isNaN(time)) return '--:--'
      const mins = Math.floor(time / 60);
      const secs = Math.floor(time % 60);

      if (secs < 10) return mins + ":0" + secs
      else return mins + ":" + secs
    },
  },
  mounted() {
    // this.currentTimeProgressBar = 0
    // this.playingMusicObj.ontimeupdate = function () {
    //   self.currentTimeProgressBar = (self.playingMusicObj.currentTime / self.playingMusicObj.duration * 100)
    // }
  },
  watch: {
    music: {
      deep: true,
      handler: function () {
        this.currentTimeProgressBar = 0
        this.playingMusicObj.ontimeupdate = function () {
          self.currentTimeProgressBar = (self.playingMusicObj.currentTime / self.playingMusicObj.duration * 100)
        }
      }
    }
  }
}
</script>

<style scoped>

</style>