<template>
  <div id="mask">
    <v-app>
      <v-main>
        <div id="bg-img" v-bind:style="{ backgroundImage: 'url(/static/img/covers/' + bkImage + ')' }"></div>
        <MusicPlayer id="music-player" @bkgr-img="setBackgroundImage"></MusicPlayer>
      </v-main>
    </v-app>
  </div>
</template>

<script>

import MusicPlayer from './components/MusicPlayer'

export default {
  name: 'App',

  components: {
    MusicPlayer,
  },
  data: () => ({
    bkImage: String
  }),
  methods: {
    setBackgroundImage(img) {
      this.bkImage = img;
    }
  },

};
</script>

<style scoped>
#bg-img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
#music-player {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -220px;
}
</style>
